node_modules/

# Ignore Cypress screenshots and videos
/cypress/screenshots/
/cypress/videos/
# Ignore Cypress reports
mochawesome-report/
/cypress/results/mochawesome
/cypress/downloads/
mochawesome.json